.in-progress-modal-header {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
}

.in-progress-modal-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-progress-task-modal-button {
    width: 25em;
    margin-bottom: 3%;
    border-radius: 10px;
	box-shadow: 0 1px 3px 1px #1a383f;
	font-weight: 700;
	background-color: #2f6470;
	border: none;
	padding: 5px 20px;
	transition: 0.2s ease-in-out;
}

.in-progress-task-modal-button:hover {
    box-shadow: 0 1px 5px 2px #1a383f;
	background-color: #418999;
}
