.homepage-container {
	/* margin-right: auto; */
	margin-left: auto;
	max-width: 90%;
    position: relative;
    width: 85%;
	/* padding-right: 15px; */
	/* padding-left: 15px; */
    /* align-items: center; */
    /* justify-content: space-around; */
}












