.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	color: #e2d5d6;
	font-size: 9em;
}

.loading-image {
	height: 25%;
}
