.new-task-container{
    display: flex;
    flex-direction: column;
}

.new-task-title-container {
    background-color: #2f6470;
    color: whitesmoke;
    text-align: center;
    width: 90%;
    margin-top: 4%;
    box-shadow: 0 8px 8px lightgray;
    border-radius: 10px;
    padding: 5px;
}

.new-task-cards {
    margin-top: 4%;
    width: 75%;
}

.new-task-header-text {
    font-size: 20px;
    font-weight: 700;
}

.blockquote-footer{
    margin-top: 1%;
}

.new-task-button {
    border-radius: 10px;
    box-shadow: 0 1px 5px lightgray;
    background-color: #2f6470;
    border: none;
}

.new-task-button:hover {
    box-shadow: 0 1px 5px black;
    background-color: #418999;
}