.nav-button-container {
	gap: 10px;
}

.nav-button-container button {
	margin-top: 25%;
	background-color: #418999;
	border: none;
	padding: 5px 15px;
	transition: 0.2s ease-in-out;
}

#playerProfileButton,
#tasksButton,
#eventsButton,
#playersButton,
#teamsButton {
	border-radius: 10px;
	box-shadow: 0 3px 5px #1a383f;
}

#playerProfileButton:hover,
#tasksButton:hover,
#eventsButton:hover,
#playersButton:hover,
#teamsButton:hover {
	border-radius: 10px;
	box-shadow: 0 4px 8px #1a383f;
}

.nav-button-container button:hover {
	background-color: #2f6470;
	/* outline: .5px inset whitesmoke; */
}

.nav-button-container .btn.active {
	background-color: whitesmoke;
	color: #2f6470;
}
