.player-profile-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.8%;
}

.player-profile-title-text {
	width: 90%;
	padding: 10px;
	margin-bottom: 4%;
	border-radius: 10px;
	box-shadow: 0 8px 8px lightgray;
	text-align: center;
	color: whitesmoke;
	background-color: #2f6470;
}

.player-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 5px lightgray;
	width: 50%;
	gap: 4em;
}

.profile-image {
	width: 30%;
}

.text-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 10px;
}

.username:hover {
	cursor: pointer;
	color: #0b80f5;
}

.current-task-div {
	display: flex;
	align-items: center;
	margin-top: 4%;
	width: 100%;
}

.current-task-text {
	width: 15vw;
	text-align: center;
	font-weight: 700;
	border-radius: 5px;
}

.player-task-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5%;
	height: 57vh;
	width: 80vw;
	gap: 15px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px #2f6470;
}

.tabs-div {
	width: 100%;
}

.tabs-container {
	margin-bottom: 2%;
}

.tabs-container .nav-link {
	color: black;
}
tabs-container .nav-item.show .nav-link,
.tabs-container .nav-link.active {
	background-color: #2f6470;
	color: whitesmoke;
}

.task-tab-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	height: 45vh;
	padding: 5px;
}

.in-progress-task-button-container,
.interested-task-button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 1px 3px 1px #1a383f;
	font-weight: 700;
	background-color: #2f6470;
	border: none;
	transition: 0.2s ease-in-out;
	margin-bottom: 1%;
}

.in-progress-task-button-container:hover,
.interested-task-button-container:hover {
	box-shadow: 0 1px 5px 2px #1a383f;
	background-color: #418999;
}

.in-progress-task-title,
.interested-task-title {
	font-size: 1.5em;
	font-weight: 800;
	margin-right: 5%;
}