.player-profile-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.player-profile-title-text {
	width: 90%;
	padding: 10px;
	margin-bottom: 5%;
	border-radius: 10px;
	box-shadow: 0 8px 8px lightgray;
	text-align: center;
	color: whitesmoke;
	background-color: #2f6470;
}

.player-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 5px #2f6470;
	width: 55%;
	gap: 4em;
}

.profile-image {
	width: 35%;
}

.text-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 10px;
}

.current-task-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4%;
}

.current-task-text {
	font-weight: 700;
	width: 15vw;
	text-align: center;
	border-radius: 5px;
}

.player-task-container {
	/* background-color: #2f6470; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5%;
	overflow: auto;
	height: 28vh;
	width: 80vw;
	gap: 15px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px lightgray;
}

.tabs-div {
	width: 100%;
	/* background-color: #2f6470; */
}

.tabs-container {
	margin-bottom: 2%;
	/* background-color: #2f6470; */
}

.tabs-container .nav-link {
	color: black; /* Replace #FF0000 with the desired text color */
}
tabs-container .nav-item.show .nav-link, .tabs-container .nav-link.active {
    background-color: #2f6470;
    color: whitesmoke
  }

/* .task-and-button-div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: whitesmoke;
} */

.update-button {
	border-radius: 10px;
	box-shadow: 0 1px 3px 1px #1a383f;
	font-weight: 700;
	background-color: #2f6470;
	border: none;
	padding: 5px 20px;
	transition: 0.2s ease-in-out;
}

.update-button:hover {
	box-shadow: 0 1px 5px 2px #1a383f;
	background-color: #418999;
}
